<ion-view view-title="cadastre-se aqui!">
    <ion-content>
       <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">E-mail</span>
                <input type="text" placeholder="E-mail"ng-model="email">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">nome</span>
                <input type="password" placeholder="Nome">
            </label>
             <label class="item item-input item-stacked-label">
                <span class="input-label">Senha </span>
                <input type="password" placeholder="Senha" ng-model="senha">
            </label>
        </div>
        <div class="padding">
         <a class="button button-block button-positive"ng-click="novoCadastro(email, senha)">
                Cadastrar
            </a>
        </div>
    </ion-content>
</ion-view> 
